<div class='page_title'>Vibes</div>

<div class='container spread_5_display_container end_div'>
  <div class='row'>
    <div class='col-md-1'></div>
    <div class='col-md-2 spread_5_display'>
      Astral Vibe
      <%= image_tag "lundesigns_moon_goddess.jpg", :class => 'spread_5_picture' %>
    </div>
    <div class='col-md-2 spread_5_display'>
      Astral Vibe
      <%= image_tag "lundesigns_moon_goddess.jpg", :class => 'spread_5_picture' %>
    </div>
    <div class='col-md-2 spread_5_display'>
      Astral Vibe
      <%= image_tag "lundesigns_moon_goddess.jpg", :class => 'spread_5_picture' %>
    </div>
    <div class='col-md-2 spread_5_display'>
      Astral Vibe
      <%= image_tag "lundesigns_moon_goddess.jpg", :class => 'spread_5_picture' %>
    </div>
    <div class='col-md-2 spread_5_display'>
      Astral Vibe
      <%= image_tag "lundesigns_moon_goddess.jpg", :class => 'spread_5_picture' %>
    </div>
    <div class='col-md-1'></div>
  </div>
  <div class='row'>
    <div class='col-md-1'></div>
    <div class='col-md-2 spread_5_display'>
      Astral Vibe
      <%= image_tag "lundesigns_moon_goddess.jpg", :class => 'spread_5_picture' %>
    </div>
    <div class='col-md-2 spread_5_display'>
      Astral Vibe
      <%= image_tag "lundesigns_moon_goddess.jpg", :class => 'spread_5_picture' %>
    </div>
    <div class='col-md-2 spread_5_display'>
      Astral Vibe
      <%= image_tag "lundesigns_moon_goddess.jpg", :class => 'spread_5_picture' %>
    </div>
    <div class='col-md-2 spread_5_display'>
      Astral Vibe
      <%= image_tag "lundesigns_moon_goddess.jpg", :class => 'spread_5_picture' %>
    </div>
    <div class='col-md-2 spread_5_display'>
      Astral Vibe
      <%= image_tag "lundesigns_moon_goddess.jpg", :class => 'spread_5_picture' %>
    </div>
    <div class='col-md-1'></div>
  </div>
  <div class='row'>
    <div class='col-md-1'></div>
    <div class='col-md-2 spread_5_display'>
      Astral Vibe
      <%= image_tag "lundesigns_moon_goddess.jpg", :class => 'spread_5_picture' %>
    </div>
    <div class='col-md-2 spread_5_display'>
      Astral Vibe
      <%= image_tag "lundesigns_moon_goddess.jpg", :class => 'spread_5_picture' %>
    </div>
    <div class='col-md-2 spread_5_display'>
      Astral Vibe
      <%= image_tag "lundesigns_moon_goddess.jpg", :class => 'spread_5_picture' %>
    </div>
    <div class='col-md-2 spread_5_display'>
      Astral Vibe
      <%= image_tag "lundesigns_moon_goddess.jpg", :class => 'spread_5_picture' %>
    </div>
    <div class='col-md-2 spread_5_display'>
      Astral Vibe
      <%= image_tag "lundesigns_moon_goddess.jpg", :class => 'spread_5_picture' %>
    </div>
    <div class='col-md-1'></div>
  </div>
  <div class='row'>
    <div class='col-md-1'></div>
    <div class='col-md-2 spread_5_display'>
      Astral Vibe
      <%= image_tag "lundesigns_moon_goddess.jpg", :class => 'spread_5_picture' %>
    </div>
    <div class='col-md-2 spread_5_display'>
      Astral Vibe
      <%= image_tag "lundesigns_moon_goddess.jpg", :class => 'spread_5_picture' %>
    </div>
    <div class='col-md-2 spread_5_display'>
      Astral Vibe
      <%= image_tag "lundesigns_moon_goddess.jpg", :class => 'spread_5_picture' %>
    </div>
    <div class='col-md-2 spread_5_display'>
      Astral Vibe
      <%= image_tag "lundesigns_moon_goddess.jpg", :class => 'spread_5_picture' %>
    </div>
    <div class='col-md-2 spread_5_display'>
      Astral Vibe
      <%= image_tag "lundesigns_moon_goddess.jpg", :class => 'spread_5_picture' %>
    </div>
    <div class='col-md-1'></div>
  </div>
  <div class='row'>
    <div class='col-md-1'></div>
    <div class='col-md-2 spread_5_display'>
      Astral Vibe
      <%= image_tag "lundesigns_moon_goddess.jpg", :class => 'spread_5_picture' %>
    </div>
    <div class='col-md-2 spread_5_display'>
      Astral Vibe
      <%= image_tag "lundesigns_moon_goddess.jpg", :class => 'spread_5_picture' %>
    </div>
    <div class='col-md-2 spread_5_display'>
      Astral Vibe
      <%= image_tag "lundesigns_moon_goddess.jpg", :class => 'spread_5_picture' %>
    </div>
    <div class='col-md-2 spread_5_display'>
      Astral Vibe
      <%= image_tag "lundesigns_moon_goddess.jpg", :class => 'spread_5_picture' %>
    </div>
    <div class='col-md-2 spread_5_display'>
      Astral Vibe
      <%= image_tag "lundesigns_moon_goddess.jpg", :class => 'spread_5_picture' %>
    </div>
    <div class='col-md-1'></div>
  </div>
  <div class='row'>
    <div class='col-md-1'></div>
    <div class='col-md-2 spread_5_display'>
      Astral Vibe
      <%= image_tag "lundesigns_moon_goddess.jpg", :class => 'spread_5_picture' %>
    </div>
    <div class='col-md-2 spread_5_display'>
      Astral Vibe
      <%= image_tag "lundesigns_moon_goddess.jpg", :class => 'spread_5_picture' %>
    </div>
    <div class='col-md-2 spread_5_display'>
      Astral Vibe
      <%= image_tag "lundesigns_moon_goddess.jpg", :class => 'spread_5_picture' %>
    </div>
    <div class='col-md-2 spread_5_display'>
      Astral Vibe
      <%= image_tag "lundesigns_moon_goddess.jpg", :class => 'spread_5_picture' %>
    </div>
    <div class='col-md-2 spread_5_display'>
      Astral Vibe
      <%= image_tag "lundesigns_moon_goddess.jpg", :class => 'spread_5_picture' %>
    </div>
    <div class='col-md-1'></div>
  </div>
  <div class='row'>
    <div class='col-md-1'></div>
    <div class='col-md-2 spread_5_display'>
      Astral Vibe
      <%= image_tag "lundesigns_moon_goddess.jpg", :class => 'spread_5_picture' %>
    </div>
    <div class='col-md-2 spread_5_display'>
      Astral Vibe
      <%= image_tag "lundesigns_moon_goddess.jpg", :class => 'spread_5_picture' %>
    </div>
    <div class='col-md-2 spread_5_display'>
      Astral Vibe
      <%= image_tag "lundesigns_moon_goddess.jpg", :class => 'spread_5_picture' %>
    </div>
    <div class='col-md-2 spread_5_display'>
      Astral Vibe
      <%= image_tag "lundesigns_moon_goddess.jpg", :class => 'spread_5_picture' %>
    </div>
    <div class='col-md-2 spread_5_display'>
      Astral Vibe
      <%= image_tag "lundesigns_moon_goddess.jpg", :class => 'spread_5_picture' %>
    </div>
    <div class='col-md-1'></div>
  </div>

</div>
