<div class='page_title'>Collectives</div>

<div class='container'>

  <div class='row'>
    <div class='col-md-4'>
      <div class='collective_window_container'>
        <div class='collective_window'>
          <%= image_tag "apex_collective.jpg", :class => 'collective_window_picture' %>
          <div class='collective_snapshot'>
            <p class='collective_snapshot_name collective_snapshot_descriptor'><strong>collective: </strong>Apex Collective</p>
            <p class='collective_snapshot_location collective_snapshot_descriptor'><strong>location: </strong>___</p>
            <p class='collective_snapshot_vibe collective_snapshot_descriptor'><strong>vibe: </strong>Abstract Multilarity</p>
            <%= button_to "Go To Collective Page", collectives_show_path, :method => "get", :class => 'btn collective_snapshot_page_btn' %>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-4'>
      <div class='collective_window_container'>
        <div class='collective_window'>
          <%= image_tag "apex_collective.jpg", :class => 'collective_window_picture' %>
          <div class='collective_snapshot'>
            <p class='collective_snapshot_name collective_snapshot_descriptor'><strong>collective: </strong>Apex Collective</p>
            <p class='collective_snapshot_location collective_snapshot_descriptor'><strong>location: </strong>___</p>
            <p class='collective_snapshot_vibe collective_snapshot_descriptor'><strong>vibe: </strong>Abstract Multilarity</p>
            <%= button_to "Go To Collective Page", collectives_show_path, :method => "get", :class => 'btn collective_snapshot_page_btn' %>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-4'>
      <div class='collective_window_container'>
        <div class='collective_window'>
          <%= image_tag "apex_collective.jpg", :class => 'collective_window_picture' %>
          <div class='collective_snapshot'>
            <p class='collective_snapshot_name collective_snapshot_descriptor'><strong>collective: </strong>Apex Collective</p>
            <p class='collective_snapshot_location collective_snapshot_descriptor'><strong>location: </strong>___</p>
            <p class='collective_snapshot_vibe collective_snapshot_descriptor'><strong>vibe: </strong>Abstract Multilarity</p>
            <%= button_to "Go To Collective Page", collectives_show_path, :method => "get", :class => 'btn collective_snapshot_page_btn' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-4'>
      <div class='collective_window_container'>
        <div class='collective_window'>
          <%= image_tag "apex_collective.jpg", :class => 'collective_window_picture' %>
          <div class='collective_snapshot'>
            <p class='collective_snapshot_name collective_snapshot_descriptor'><strong>collective: </strong>Apex Collective</p>
            <p class='collective_snapshot_location collective_snapshot_descriptor'><strong>location: </strong>___</p>
            <p class='collective_snapshot_vibe collective_snapshot_descriptor'><strong>vibe: </strong>Abstract Multilarity</p>
            <%= button_to "Go To Collective Page", collectives_show_path, :method => "get", :class => 'btn collective_snapshot_page_btn' %>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-4'>
      <div class='collective_window_container'>
        <div class='collective_window'>
          <%= image_tag "apex_collective.jpg", :class => 'collective_window_picture' %>
          <div class='collective_snapshot'>
            <p class='collective_snapshot_name collective_snapshot_descriptor'><strong>collective: </strong>Apex Collective</p>
            <p class='collective_snapshot_location collective_snapshot_descriptor'><strong>location: </strong>___</p>
            <p class='collective_snapshot_vibe collective_snapshot_descriptor'><strong>vibe: </strong>Abstract Multilarity</p>
            <%= button_to "Go To Collective Page", collectives_show_path, :method => "get", :class => 'btn collective_snapshot_page_btn' %>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-4'>
      <div class='collective_window_container'>
        <div class='collective_window'>
          <%= image_tag "apex_collective.jpg", :class => 'collective_window_picture' %>
          <div class='collective_snapshot'>
            <p class='collective_snapshot_name collective_snapshot_descriptor'><strong>collective: </strong>Apex Collective</p>
            <p class='collective_snapshot_location collective_snapshot_descriptor'><strong>location: </strong>___</p>
            <p class='collective_snapshot_vibe collective_snapshot_descriptor'><strong>vibe: </strong>Abstract Multilarity</p>
            <%= button_to "Go To Collective Page", collectives_show_path, :method => "get", :class => 'btn collective_snapshot_page_btn' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-4'>
      <div class='collective_window_container'>
        <div class='collective_window'>
          <%= image_tag "apex_collective.jpg", :class => 'collective_window_picture' %>
          <div class='collective_snapshot'>
            <p class='collective_snapshot_name collective_snapshot_descriptor'><strong>collective: </strong>Apex Collective</p>
            <p class='collective_snapshot_location collective_snapshot_descriptor'><strong>location: </strong>___</p>
            <p class='collective_snapshot_vibe collective_snapshot_descriptor'><strong>vibe: </strong>Abstract Multilarity</p>
            <%= button_to "Go To Collective Page", collectives_show_path, :method => "get", :class => 'btn collective_snapshot_page_btn' %>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-4'>
      <div class='collective_window_container'>
        <div class='collective_window'>
          <%= image_tag "apex_collective.jpg", :class => 'collective_window_picture' %>
          <div class='collective_snapshot'>
            <p class='collective_snapshot_name collective_snapshot_descriptor'><strong>collective: </strong>Apex Collective</p>
            <p class='collective_snapshot_location collective_snapshot_descriptor'><strong>location: </strong>___</p>
            <p class='collective_snapshot_vibe collective_snapshot_descriptor'><strong>vibe: </strong>Abstract Multilarity</p>
            <%= button_to "Go To Collective Page", collectives_show_path, :method => "get", :class => 'btn collective_snapshot_page_btn' %>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-4'>
      <div class='collective_window_container'>
        <div class='collective_window'>
          <%= image_tag "apex_collective.jpg", :class => 'collective_window_picture' %>
          <div class='collective_snapshot'>
            <p class='collective_snapshot_name collective_snapshot_descriptor'><strong>collective: </strong>Apex Collective</p>
            <p class='collective_snapshot_location collective_snapshot_descriptor'><strong>location: </strong>___</p>
            <p class='collective_snapshot_vibe collective_snapshot_descriptor'><strong>vibe: </strong>Abstract Multilarity</p>
            <%= button_to "Go To Collective Page", collectives_show_path, :method => "get", :class => 'btn collective_snapshot_page_btn' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-4'>
      <div class='collective_window_container'>
        <div class='collective_window'>
          <%= image_tag "apex_collective.jpg", :class => 'collective_window_picture' %>
          <div class='collective_snapshot'>
            <p class='collective_snapshot_name collective_snapshot_descriptor'><strong>collective: </strong>Apex Collective</p>
            <p class='collective_snapshot_location collective_snapshot_descriptor'><strong>location: </strong>___</p>
            <p class='collective_snapshot_vibe collective_snapshot_descriptor'><strong>vibe: </strong>Abstract Multilarity</p>
            <%= button_to "Go To Collective Page", collectives_show_path, :method => "get", :class => 'btn collective_snapshot_page_btn' %>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-4'>
      <div class='collective_window_container'>
        <div class='collective_window'>
          <%= image_tag "apex_collective.jpg", :class => 'collective_window_picture' %>
          <div class='collective_snapshot'>
            <p class='collective_snapshot_name collective_snapshot_descriptor'><strong>collective: </strong>Apex Collective</p>
            <p class='collective_snapshot_location collective_snapshot_descriptor'><strong>location: </strong>___</p>
            <p class='collective_snapshot_vibe collective_snapshot_descriptor'><strong>vibe: </strong>Abstract Multilarity</p>
            <%= button_to "Go To Collective Page", collectives_show_path, :method => "get", :class => 'btn collective_snapshot_page_btn' %>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-4'>
      <div class='collective_window_container'>
        <div class='collective_window'>
          <%= image_tag "apex_collective.jpg", :class => 'collective_window_picture' %>
          <div class='collective_snapshot'>
            <p class='collective_snapshot_name collective_snapshot_descriptor'><strong>collective: </strong>Apex Collective</p>
            <p class='collective_snapshot_location collective_snapshot_descriptor'><strong>location: </strong>___</p>
            <p class='collective_snapshot_vibe collective_snapshot_descriptor'><strong>vibe: </strong>Abstract Multilarity</p>
            <%= button_to "Go To Collective Page", collectives_show_path, :method => "get", :class => 'btn collective_snapshot_page_btn' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-4'>
      <div class='collective_window_container'>
        <div class='collective_window'>
          <%= image_tag "apex_collective.jpg", :class => 'collective_window_picture' %>
          <div class='collective_snapshot'>
            <p class='collective_snapshot_name collective_snapshot_descriptor'><strong>collective: </strong>Apex Collective</p>
            <p class='collective_snapshot_location collective_snapshot_descriptor'><strong>location: </strong>___</p>
            <p class='collective_snapshot_vibe collective_snapshot_descriptor'><strong>vibe: </strong>Abstract Multilarity</p>
            <%= button_to "Go To Collective Page", collectives_show_path, :method => "get", :class => 'btn collective_snapshot_page_btn' %>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-4'>
      <div class='collective_window_container'>
        <div class='collective_window'>
          <%= image_tag "apex_collective.jpg", :class => 'collective_window_picture' %>
          <div class='collective_snapshot'>
            <p class='collective_snapshot_name collective_snapshot_descriptor'><strong>collective: </strong>Apex Collective</p>
            <p class='collective_snapshot_location collective_snapshot_descriptor'><strong>location: </strong>___</p>
            <p class='collective_snapshot_vibe collective_snapshot_descriptor'><strong>vibe: </strong>Abstract Multilarity</p>
            <%= button_to "Go To Collective Page", collectives_show_path, :method => "get", :class => 'btn collective_snapshot_page_btn' %>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-4'>
      <div class='collective_window_container'>
        <div class='collective_window'>
          <%= image_tag "apex_collective.jpg", :class => 'collective_window_picture' %>
          <div class='collective_snapshot'>
            <p class='collective_snapshot_name collective_snapshot_descriptor'><strong>collective: </strong>Apex Collective</p>
            <p class='collective_snapshot_location collective_snapshot_descriptor'><strong>location: </strong>___</p>
            <p class='collective_snapshot_vibe collective_snapshot_descriptor'><strong>vibe: </strong>Abstract Multilarity</p>
            <%= button_to "Go To Collective Page", collectives_show_path, :method => "get", :class => 'btn collective_snapshot_page_btn' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-4'>
      <div class='collective_window_container'>
        <div class='collective_window'>
          <%= image_tag "apex_collective.jpg", :class => 'collective_window_picture' %>
          <div class='collective_snapshot'>
            <p class='collective_snapshot_name collective_snapshot_descriptor'><strong>collective: </strong>Apex Collective</p>
            <p class='collective_snapshot_location collective_snapshot_descriptor'><strong>location: </strong>___</p>
            <p class='collective_snapshot_vibe collective_snapshot_descriptor'><strong>vibe: </strong>Abstract Multilarity</p>
            <%= button_to "Go To Collective Page", collectives_show_path, :method => "get", :class => 'btn collective_snapshot_page_btn' %>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-4'>
      <div class='collective_window_container'>
        <div class='collective_window'>
          <%= image_tag "apex_collective.jpg", :class => 'collective_window_picture' %>
          <div class='collective_snapshot'>
            <p class='collective_snapshot_name collective_snapshot_descriptor'><strong>collective: </strong>Apex Collective</p>
            <p class='collective_snapshot_location collective_snapshot_descriptor'><strong>location: </strong>___</p>
            <p class='collective_snapshot_vibe collective_snapshot_descriptor'><strong>vibe: </strong>Abstract Multilarity</p>
            <%= button_to "Go To Collective Page", collectives_show_path, :method => "get", :class => 'btn collective_snapshot_page_btn' %>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-4'>
      <div class='collective_window_container'>
        <div class='collective_window'>
          <%= image_tag "apex_collective.jpg", :class => 'collective_window_picture' %>
          <div class='collective_snapshot'>
            <p class='collective_snapshot_name collective_snapshot_descriptor'><strong>collective: </strong>Apex Collective</p>
            <p class='collective_snapshot_location collective_snapshot_descriptor'><strong>location: </strong>___</p>
            <p class='collective_snapshot_vibe collective_snapshot_descriptor'><strong>vibe: </strong>Abstract Multilarity</p>
            <%= button_to "Go To Collective Page", collectives_show_path, :method => "get", :class => 'btn collective_snapshot_page_btn' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-4'>
      <div class='collective_window_container'>
        <div class='collective_window'>
          <%= image_tag "apex_collective.jpg", :class => 'collective_window_picture' %>
          <div class='collective_snapshot'>
            <p class='collective_snapshot_name collective_snapshot_descriptor'><strong>collective: </strong>Apex Collective</p>
            <p class='collective_snapshot_location collective_snapshot_descriptor'><strong>location: </strong>___</p>
            <p class='collective_snapshot_vibe collective_snapshot_descriptor'><strong>vibe: </strong>Abstract Multilarity</p>
            <%= button_to "Go To Collective Page", collectives_show_path, :method => "get", :class => 'btn collective_snapshot_page_btn' %>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-4'>
      <div class='collective_window_container'>
        <div class='collective_window'>
          <%= image_tag "apex_collective.jpg", :class => 'collective_window_picture' %>
          <div class='collective_snapshot'>
            <p class='collective_snapshot_name collective_snapshot_descriptor'><strong>collective: </strong>Apex Collective</p>
            <p class='collective_snapshot_location collective_snapshot_descriptor'><strong>location: </strong>___</p>
            <p class='collective_snapshot_vibe collective_snapshot_descriptor'><strong>vibe: </strong>Abstract Multilarity</p>
            <%= button_to "Go To Collective Page", collectives_show_path, :method => "get", :class => 'btn collective_snapshot_page_btn' %>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-4'>
      <div class='collective_window_container'>
        <div class='collective_window'>
          <%= image_tag "apex_collective.jpg", :class => 'collective_window_picture' %>
          <div class='collective_snapshot'>
            <p class='collective_snapshot_name collective_snapshot_descriptor'><strong>collective: </strong>Apex Collective</p>
            <p class='collective_snapshot_location collective_snapshot_descriptor'><strong>location: </strong>___</p>
            <p class='collective_snapshot_vibe collective_snapshot_descriptor'><strong>vibe: </strong>Abstract Multilarity</p>
            <%= button_to "Go To Collective Page", collectives_show_path, :method => "get", :class => 'btn collective_snapshot_page_btn' %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
