<div class='page_title'>Artists</div>

<div class='container end_div'>

  <div class='row'>
    <div class='col-md-3'>
      <div class='artist_window_container'>
        <div class='artist_window'>
          <%= image_tag "Agostina-Sky.jpg", :class => 'artist_window_picture' %>
          <div class='artist_snapshot'>
            <p class='artist_snapshot_name artist_snapshot_descriptor'><strong>artist: </strong>Simon Haiduk</p>
            <p class='artist_snapshot_location artist_snapshot_descriptor'><strong>location: </strong>Gibsons, BC</p>
            <p class='artist_snapshot_vibe artist_snapshot_descriptor'><strong>vibe: </strong> Natural Connectivity</p>
            <button class='artist_snapshot_page_btn'>Go To Artist Page</button>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      <div class='artist_window_container'>
        <div class='artist_window'>
          <%= image_tag "Agostina-Sky.jpg", :class => 'artist_window_picture' %>
          <div class='artist_snapshot'>
            <p class='artist_snapshot_name artist_snapshot_descriptor'><strong>artist: </strong>Simon Haiduk</p>
            <p class='artist_snapshot_location artist_snapshot_descriptor'><strong>location: </strong>Gibsons, BC</p>
            <p class='artist_snapshot_vibe artist_snapshot_descriptor'><strong>vibe: </strong> Natural Connectivity</p>
            <button class='artist_snapshot_page_btn'>Go To Artist Page</button>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      <div class='artist_window_container'>
        <div class='artist_window'>
          <%= image_tag "Agostina-Sky.jpg", :class => 'artist_window_picture' %>
          <div class='artist_snapshot'>
            <p class='artist_snapshot_name artist_snapshot_descriptor'><strong>artist: </strong>Simon Haiduk</p>
            <p class='artist_snapshot_location artist_snapshot_descriptor'><strong>location: </strong>Gibsons, BC</p>
            <p class='artist_snapshot_vibe artist_snapshot_descriptor'><strong>vibe: </strong> Natural Connectivity</p>
            <button class='artist_snapshot_page_btn'>Go To Artist Page</button>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      <div class='artist_window_container'>
        <div class='artist_window'>
          <%= image_tag "Agostina-Sky.jpg", :class => 'artist_window_picture' %>
          <div class='artist_snapshot'>
            <p class='artist_snapshot_name artist_snapshot_descriptor'><strong>artist: </strong>Simon Haiduk</p>
            <p class='artist_snapshot_location artist_snapshot_descriptor'><strong>location: </strong>Gibsons, BC</p>
            <p class='artist_snapshot_vibe artist_snapshot_descriptor'><strong>vibe: </strong> Natural Connectivity</p>
            <button class='artist_snapshot_page_btn'>Go To Artist Page</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-3'>
      <div class='artist_window_container'>
        <div class='artist_window'>
          <%= image_tag "Agostina-Sky.jpg", :class => 'artist_window_picture' %>
          <div class='artist_snapshot'>
            <p class='artist_snapshot_name artist_snapshot_descriptor'><strong>artist: </strong>Simon Haiduk</p>
            <p class='artist_snapshot_location artist_snapshot_descriptor'><strong>location: </strong>Gibsons, BC</p>
            <p class='artist_snapshot_vibe artist_snapshot_descriptor'><strong>vibe: </strong> Natural Connectivity</p>
            <button class='artist_snapshot_page_btn'>Go To Artist Page</button>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      <div class='artist_window_container'>
        <div class='artist_window'>
          <%= image_tag "Agostina-Sky.jpg", :class => 'artist_window_picture' %>
          <div class='artist_snapshot'>
            <p class='artist_snapshot_name artist_snapshot_descriptor'><strong>artist: </strong>Simon Haiduk</p>
            <p class='artist_snapshot_location artist_snapshot_descriptor'><strong>location: </strong>Gibsons, BC</p>
            <p class='artist_snapshot_vibe artist_snapshot_descriptor'><strong>vibe: </strong> Natural Connectivity</p>
            <button class='artist_snapshot_page_btn'>Go To Artist Page</button>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      <div class='artist_window_container'>
        <div class='artist_window'>
          <%= image_tag "Agostina-Sky.jpg", :class => 'artist_window_picture' %>
          <div class='artist_snapshot'>
            <p class='artist_snapshot_name artist_snapshot_descriptor'><strong>artist: </strong>Simon Haiduk</p>
            <p class='artist_snapshot_location artist_snapshot_descriptor'><strong>location: </strong>Gibsons, BC</p>
            <p class='artist_snapshot_vibe artist_snapshot_descriptor'><strong>vibe: </strong> Natural Connectivity</p>
            <button class='artist_snapshot_page_btn'>Go To Artist Page</button>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      <div class='artist_window_container'>
        <div class='artist_window'>
          <%= image_tag "Agostina-Sky.jpg", :class => 'artist_window_picture' %>
          <div class='artist_snapshot'>
            <p class='artist_snapshot_name artist_snapshot_descriptor'><strong>artist: </strong>Simon Haiduk</p>
            <p class='artist_snapshot_location artist_snapshot_descriptor'><strong>location: </strong>Gibsons, BC</p>
            <p class='artist_snapshot_vibe artist_snapshot_descriptor'><strong>vibe: </strong> Natural Connectivity</p>
            <button class='artist_snapshot_page_btn'>Go To Artist Page</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-3'>
      <div class='artist_window_container'>
        <div class='artist_window'>
          <%= image_tag "Agostina-Sky.jpg", :class => 'artist_window_picture' %>
          <div class='artist_snapshot'>
            <p class='artist_snapshot_name artist_snapshot_descriptor'><strong>artist: </strong>Simon Haiduk</p>
            <p class='artist_snapshot_location artist_snapshot_descriptor'><strong>location: </strong>Gibsons, BC</p>
            <p class='artist_snapshot_vibe artist_snapshot_descriptor'><strong>vibe: </strong> Natural Connectivity</p>
            <button class='artist_snapshot_page_btn'>Go To Artist Page</button>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      <div class='artist_window_container'>
        <div class='artist_window'>
          <%= image_tag "Agostina-Sky.jpg", :class => 'artist_window_picture' %>
          <div class='artist_snapshot'>
            <p class='artist_snapshot_name artist_snapshot_descriptor'><strong>artist: </strong>Simon Haiduk</p>
            <p class='artist_snapshot_location artist_snapshot_descriptor'><strong>location: </strong>Gibsons, BC</p>
            <p class='artist_snapshot_vibe artist_snapshot_descriptor'><strong>vibe: </strong> Natural Connectivity</p>
            <button class='artist_snapshot_page_btn'>Go To Artist Page</button>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      <div class='artist_window_container'>
        <div class='artist_window'>
          <%= image_tag "Agostina-Sky.jpg", :class => 'artist_window_picture' %>
          <div class='artist_snapshot'>
            <p class='artist_snapshot_name artist_snapshot_descriptor'><strong>artist: </strong>Simon Haiduk</p>
            <p class='artist_snapshot_location artist_snapshot_descriptor'><strong>location: </strong>Gibsons, BC</p>
            <p class='artist_snapshot_vibe artist_snapshot_descriptor'><strong>vibe: </strong> Natural Connectivity</p>
            <button class='artist_snapshot_page_btn'>Go To Artist Page</button>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      <div class='artist_window_container'>
        <div class='artist_window'>
          <%= image_tag "Agostina-Sky.jpg", :class => 'artist_window_picture' %>
          <div class='artist_snapshot'>
            <p class='artist_snapshot_name artist_snapshot_descriptor'><strong>artist: </strong>Simon Haiduk</p>
            <p class='artist_snapshot_location artist_snapshot_descriptor'><strong>location: </strong>Gibsons, BC</p>
            <p class='artist_snapshot_vibe artist_snapshot_descriptor'><strong>vibe: </strong> Natural Connectivity</p>
            <button class='artist_snapshot_page_btn'>Go To Artist Page</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-3'>
      <div class='artist_window_container'>
        <div class='artist_window'>
          <%= image_tag "Agostina-Sky.jpg", :class => 'artist_window_picture' %>
          <div class='artist_snapshot'>
            <p class='artist_snapshot_name artist_snapshot_descriptor'><strong>artist: </strong>Simon Haiduk</p>
            <p class='artist_snapshot_location artist_snapshot_descriptor'><strong>location: </strong>Gibsons, BC</p>
            <p class='artist_snapshot_vibe artist_snapshot_descriptor'><strong>vibe: </strong> Natural Connectivity</p>
            <button class='artist_snapshot_page_btn'>Go To Artist Page</button>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      <div class='artist_window_container'>
        <div class='artist_window'>
          <%= image_tag "Agostina-Sky.jpg", :class => 'artist_window_picture' %>
          <div class='artist_snapshot'>
            <p class='artist_snapshot_name artist_snapshot_descriptor'><strong>artist: </strong>Simon Haiduk</p>
            <p class='artist_snapshot_location artist_snapshot_descriptor'><strong>location: </strong>Gibsons, BC</p>
            <p class='artist_snapshot_vibe artist_snapshot_descriptor'><strong>vibe: </strong> Natural Connectivity</p>
            <button class='artist_snapshot_page_btn'>Go To Artist Page</button>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      <div class='artist_window_container'>
        <div class='artist_window'>
          <%= image_tag "Agostina-Sky.jpg", :class => 'artist_window_picture' %>
          <div class='artist_snapshot'>
            <p class='artist_snapshot_name artist_snapshot_descriptor'><strong>artist: </strong>Simon Haiduk</p>
            <p class='artist_snapshot_location artist_snapshot_descriptor'><strong>location: </strong>Gibsons, BC</p>
            <p class='artist_snapshot_vibe artist_snapshot_descriptor'><strong>vibe: </strong> Natural Connectivity</p>
            <button class='artist_snapshot_page_btn'>Go To Artist Page</button>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      <div class='artist_window_container'>
        <div class='artist_window'>
          <%= image_tag "Agostina-Sky.jpg", :class => 'artist_window_picture' %>
          <div class='artist_snapshot'>
            <p class='artist_snapshot_name artist_snapshot_descriptor'><strong>artist: </strong>Simon Haiduk</p>
            <p class='artist_snapshot_location artist_snapshot_descriptor'><strong>location: </strong>Gibsons, BC</p>
            <p class='artist_snapshot_vibe artist_snapshot_descriptor'><strong>vibe: </strong> Natural Connectivity</p>
            <button class='artist_snapshot_page_btn'>Go To Artist Page</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-3'>
      <div class='artist_window_container'>
        <div class='artist_window'>
          <%= image_tag "Agostina-Sky.jpg", :class => 'artist_window_picture' %>
          <div class='artist_snapshot'>
            <p class='artist_snapshot_name artist_snapshot_descriptor'><strong>artist: </strong>Simon Haiduk</p>
            <p class='artist_snapshot_location artist_snapshot_descriptor'><strong>location: </strong>Gibsons, BC</p>
            <p class='artist_snapshot_vibe artist_snapshot_descriptor'><strong>vibe: </strong> Natural Connectivity</p>
            <button class='artist_snapshot_page_btn'>Go To Artist Page</button>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      <div class='artist_window_container'>
        <div class='artist_window'>
          <%= image_tag "Agostina-Sky.jpg", :class => 'artist_window_picture' %>
          <div class='artist_snapshot'>
            <p class='artist_snapshot_name artist_snapshot_descriptor'><strong>artist: </strong>Simon Haiduk</p>
            <p class='artist_snapshot_location artist_snapshot_descriptor'><strong>location: </strong>Gibsons, BC</p>
            <p class='artist_snapshot_vibe artist_snapshot_descriptor'><strong>vibe: </strong> Natural Connectivity</p>
            <button class='artist_snapshot_page_btn'>Go To Artist Page</button>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      <div class='artist_window_container'>
        <div class='artist_window'>
          <%= image_tag "Agostina-Sky.jpg", :class => 'artist_window_picture' %>
          <div class='artist_snapshot'>
            <p class='artist_snapshot_name artist_snapshot_descriptor'><strong>artist: </strong>Simon Haiduk</p>
            <p class='artist_snapshot_location artist_snapshot_descriptor'><strong>location: </strong>Gibsons, BC</p>
            <p class='artist_snapshot_vibe artist_snapshot_descriptor'><strong>vibe: </strong> Natural Connectivity</p>
            <button class='artist_snapshot_page_btn'>Go To Artist Page</button>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      <div class='artist_window_container'>
        <div class='artist_window'>
          <%= image_tag "Agostina-Sky.jpg", :class => 'artist_window_picture' %>
          <div class='artist_snapshot'>
            <p class='artist_snapshot_name artist_snapshot_descriptor'><strong>artist: </strong>Simon Haiduk</p>
            <p class='artist_snapshot_location artist_snapshot_descriptor'><strong>location: </strong>Gibsons, BC</p>
            <p class='artist_snapshot_vibe artist_snapshot_descriptor'><strong>vibe: </strong> Natural Connectivity</p>
            <button class='artist_snapshot_page_btn'>Go To Artist Page</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-3'>
      <div class='artist_window_container'>
        <div class='artist_window'>
          <%= image_tag "Agostina-Sky.jpg", :class => 'artist_window_picture' %>
          <div class='artist_snapshot'>
            <p class='artist_snapshot_name artist_snapshot_descriptor'><strong>artist: </strong>Simon Haiduk</p>
            <p class='artist_snapshot_location artist_snapshot_descriptor'><strong>location: </strong>Gibsons, BC</p>
            <p class='artist_snapshot_vibe artist_snapshot_descriptor'><strong>vibe: </strong> Natural Connectivity</p>
            <button class='artist_snapshot_page_btn'>Go To Artist Page</button>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      <div class='artist_window_container'>
        <div class='artist_window'>
          <%= image_tag "Agostina-Sky.jpg", :class => 'artist_window_picture' %>
          <div class='artist_snapshot'>
            <p class='artist_snapshot_name artist_snapshot_descriptor'><strong>artist: </strong>Simon Haiduk</p>
            <p class='artist_snapshot_location artist_snapshot_descriptor'><strong>location: </strong>Gibsons, BC</p>
            <p class='artist_snapshot_vibe artist_snapshot_descriptor'><strong>vibe: </strong> Natural Connectivity</p>
            <button class='artist_snapshot_page_btn'>Go To Artist Page</button>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      <div class='artist_window_container'>
        <div class='artist_window'>
          <%= image_tag "Agostina-Sky.jpg", :class => 'artist_window_picture' %>
          <div class='artist_snapshot'>
            <p class='artist_snapshot_name artist_snapshot_descriptor'><strong>artist: </strong>Simon Haiduk</p>
            <p class='artist_snapshot_location artist_snapshot_descriptor'><strong>location: </strong>Gibsons, BC</p>
            <p class='artist_snapshot_vibe artist_snapshot_descriptor'><strong>vibe: </strong> Natural Connectivity</p>
            <button class='artist_snapshot_page_btn'>Go To Artist Page</button>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      <div class='artist_window_container'>
        <div class='artist_window'>
          <%= image_tag "Agostina-Sky.jpg", :class => 'artist_window_picture' %>
          <div class='artist_snapshot'>
            <p class='artist_snapshot_name artist_snapshot_descriptor'><strong>artist: </strong>Simon Haiduk</p>
            <p class='artist_snapshot_location artist_snapshot_descriptor'><strong>location: </strong>Gibsons, BC</p>
            <p class='artist_snapshot_vibe artist_snapshot_descriptor'><strong>vibe: </strong> Natural Connectivity</p>
            <button class='artist_snapshot_page_btn'>Go To Artist Page</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-3'>
      <div class='artist_window_container'>
        <div class='artist_window'>
          <%= image_tag "Agostina-Sky.jpg", :class => 'artist_window_picture' %>
          <div class='artist_snapshot'>
            <p class='artist_snapshot_name artist_snapshot_descriptor'><strong>artist: </strong>Simon Haiduk</p>
            <p class='artist_snapshot_location artist_snapshot_descriptor'><strong>location: </strong>Gibsons, BC</p>
            <p class='artist_snapshot_vibe artist_snapshot_descriptor'><strong>vibe: </strong> Natural Connectivity</p>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      <div class='artist_window_container'>
        <div class='artist_window'>
          <%= image_tag "Agostina-Sky.jpg", :class => 'artist_window_picture' %>
          <div class='artist_snapshot'>
            <p class='artist_snapshot_name artist_snapshot_descriptor'><strong>artist: </strong>Simon Haiduk</p>
            <p class='artist_snapshot_location artist_snapshot_descriptor'><strong>location: </strong>Gibsons, BC</p>
            <p class='artist_snapshot_vibe artist_snapshot_descriptor'><strong>vibe: </strong> Natural Connectivity</p>
            <button class='artist_snapshot_page_btn'>Go To Artist Page</button>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      <div class='artist_window_container'>
        <div class='artist_window'>
          <%= image_tag "Agostina-Sky.jpg", :class => 'artist_window_picture' %>
          <div class='artist_snapshot'>
            <p class='artist_snapshot_name artist_snapshot_descriptor'><strong>artist: </strong>Simon Haiduk</p>
            <p class='artist_snapshot_location artist_snapshot_descriptor'><strong>location: </strong>Gibsons, BC</p>
            <p class='artist_snapshot_vibe artist_snapshot_descriptor'><strong>vibe: </strong> Natural Connectivity</p>
            <button class='artist_snapshot_page_btn'>Go To Artist Page</button>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      <div class='artist_window_container'>
        <div class='artist_window'>
          <%= image_tag "Agostina-Sky.jpg", :class => 'artist_window_picture' %>
          <div class='artist_snapshot'>
            <p class='artist_snapshot_name artist_snapshot_descriptor'><strong>artist: </strong>Simon Haiduk</p>
            <p class='artist_snapshot_location artist_snapshot_descriptor'><strong>location: </strong>Gibsons, BC</p>
            <p class='artist_snapshot_vibe artist_snapshot_descriptor'><strong>vibe: </strong> Natural Connectivity</p>
            <button class='artist_snapshot_page_btn'>Go To Artist Page</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
