<div class='container artist_profile_container'>

  <div class='row'>
    <div class='col-lg-12" artist__header_banner'><%= image_tag "sew_much_love_sexy_banner.jpg", :class => 'banner_1_picture' %></div>
  </div>

  <div class'row'>
    <div class='col-md-9 artist__artist_breakdown' id='artist__artist_breakdown_9'>
      <div class='details_card_div' id='details_card_div_9'>
        <%= image_tag "sew_much_love_profile_pic.jpg", :id => 'artist__profile_picture' %>
        <div id='artist__title_and_tagline_div_container'>
          <h3 id='artist__name_title'> Sew Much Love Clothing </h3>
          <p class='artist__tagline'>Clothing Made From the Heart</p>
        </div>
        <div id='artist__vibe_badge_div_container'>
          <div class='badge_container'>
            <strong>Sacred Nomad <br> Vibe</strong>
            <div class='badge_picture_container'>
              <%= image_tag "sacred_nomad_badge.jpg", :class => 'vibe_badge_picture', :id => 'sacred_nomad_badge' %>
            </div>
          </div>
          <div class='badge_container'>
            <strong>Sexy <br> Vibe</strong>
            <div class='badge_picture_container'>
              <%= image_tag "sexy_badge.jpg", :class => 'vibe_badge_picture', :id => 'sexy_badge' %>
            </div>
          </div>
        </div>
        <div id='artist__breakdown_div_container'>
          <p class='artist__breakdown_item' id='artist__category_1_line'>Clothing Designers<sup>100:0</sup> <strong>|</strong> Organic | Yoga-Wear</p>
          <p class='artist__breakdown_item' id='artist__location_line'><%= image_tag "flag_white.svg", :id => 'artist__location_flag' %>&nbsp; lives in: California | from: California</p>
        </div>
        <div id='artist__shop_description'>
          Sew Much Love is a clothing company that believes in fashion and function, with every purchase a dollar will be donated to a non-profit here in Lake Tahoe.
        </div>
        <div class='btn btn-primary' id='artist__about_this_artist_btn'>About This Artist</div>
      </div>

      <div id='artist__shelf_container'>
        <div class='artist__shelf_9'>
          <h4 class='slider_title'>Tops</h4>
          <div class='shelf_slider_container'>
            <div class='feature_item item_div_container slider_item'>
              <%= image_tag "sew_much_love_sexy_girl_2.jpg", :class => 'item_picture' %>
              <p class='item_descriptor item_name'>Name Name Name</p>
              <p class='item_descriptor item_price'>CA $111.11</p>
            </div>
            <div class='feature_item item_div_container slider_item'>
              <%= image_tag "sew_much_love_sexy_girl_2.jpg", :class => 'item_picture' %>
              <p class='item_descriptor item_name'>Name Name Name</p>
              <p class='item_descriptor item_price'>CA $111.11</p>
            </div>
            <div class='feature_item item_div_container slider_item'>
              <%= image_tag "sew_much_love_sexy_girl_2.jpg", :class => 'item_picture' %>
              <p class='item_descriptor item_name'>Name Name Name</p>
              <p class='item_descriptor item_price'>CA $111.11</p>
            </div>
          </div>
          <div class='shelf_platform'></div>
        </div>
        <div class='artist__shelf_9'>
          <h4 class='slider_title'>Hoodies</h4>
          <div class='shelf_slider_container'>
            <div class='feature_item item_div_container slider_item'>
              <%= image_tag "sew_much_love_sexy_girl_5_hoodie.jpg", :class => 'item_picture' %>
              <p class='item_descriptor item_name'>Name Name Name</p>
              <p class='item_descriptor item_price'>CA $111.11</p>
            </div>
            <div class='feature_item item_div_container slider_item'>
              <%= image_tag "sew_much_love_sexy_girl_5_hoodie.jpg", :class => 'item_picture' %>
              <p class='item_descriptor item_name'>Name Name Name</p>
              <p class='item_descriptor item_price'>CA $111.11</p>
            </div>
            <div class='feature_item item_div_container slider_item'>
              <%= image_tag "sew_much_love_sexy_girl_5_hoodie.jpg", :class => 'item_picture' %>
              <p class='item_descriptor item_name'>Name Name Name</p>
              <p class='item_descriptor item_price'>CA $111.11</p>
            </div>
          </div>
          <div class='shelf_platform'></div>
        </div>
      </div>
    </div>

    <div class='col-md-3 artist__feature_shelf' id='artist__feature_shelf_vertical'>
      <h4 id='featured_items_title'>Featured Items</h4>
      <div class='feature_item item_div_container'>
        <%= image_tag "sew_much_love_sexy_girl_2.jpg", :class => 'item_picture' %>
        <p class='item_descriptor item_name'>Name Name Name</p>
        <p class='item_descriptor item_price'>CA $111.11</p>
      </div>
      <div class='feature_item item_div_container'>
        <%= image_tag "sew_much_love_sexy_girl_4_jacket.jpg", :class => 'item_picture' %>
        <p class='item_descriptor item_name'>Name Name Name</p>
        <p class='item_descriptor item_price'>CA $111.11</p>
      </div>
      <div class='feature_item item_div_container'>
        <%= image_tag "sew_much_love_sexy_girl_5_hoodie.jpg", :class => 'item_picture' %>
        <p class='item_descriptor item_name'>Name Name Name</p>
        <p class='item_descriptor item_price'>CA $111.11</p>
      </div>

      <div id='artist__link_container'>
        <div id='artist__link_div'>
          <%= link_to "https://www.facebook.com/sewmuchloveclothing/" do %>
            <%= image_tag "facebook_icon.svg", :class => 'icon_link_big', :id => 'facebook_icon' %>
          <% end %>
          <%= link_to "http://www.sewmuchloveclothing.com/" do %>
            <%= image_tag "instagram_logo_black.svg", :class => 'icon_link_big', :id => 'instagram_icon' %>
          <% end %>
          <%= link_to "http://www.sewmuchloveclothing.com/" do %>
            <%= image_tag "www_website_icon.svg", :class => 'icon_link_big', :id => 'website_icon' %>
          <% end %>
        </div>
      </div>

    </div>

  </div>



</div>


<div class='container' id='artist__vision_statment_container'>
  <div class='row'>
    <div class='col-md-1'></div>
    <div class='col-md-10' id='artist__vision_statement_10'>Vision Statement<br>❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love ❤ Love </div>
    <div class='col-md-1'></div>
  </div>
</div>

<div class='container end_div' id='artist__catalogue'>
  <div class='row'>
    <div class='col-lg-3'>
      <div id='catalogue_filter_bar'>
        <h4 id='catalogue_title'>Filter Catalogue</h4>

        <div class='catalogue_option_div' id='catalogue_option_category_div'>
          <select name="select" class='catalogue_bar_option' id='catalogue_bar_option_gender'>
            <option value="value1">Category</option>
            <option value="value2">Clothing</option>
          </select>
        </div>

        <div class='catalogue_option_div' id='catalogue_option_subcategory_div'>
          <select name="select" class='catalogue_bar_option' id='catalogue_bar_option_gender'>
            <option value="value1">Sub-Cateogry</option>
            <option value="value2">Organic</option>
            <option value="value3">Yoga-Wear</option>
          </select>
        </div>

        <div class='catalogue_option_div' id='catalogue_option_gender_div'>
          <select name="select" class='catalogue_bar_option' id='catalogue_bar_option_gender'>
            <option value="value1">Any Gender</option>
            <option value="value2">Male</option>
            <option value="value3">Women</option>
            <option value="value3">Unisex Specific</option>
          </select>
        </div>

        <div class='catalogue_option_div' id='catalogue_option_article_type_div'>
          <select name="select" class='catalogue_bar_option' id='catalogue_bar_option_gender'>
            <option value="value1">Article Type</option>
            <option value="value2">Tops</option>
            <option value="value3">Bottoms</option>
            <option value="value3">Hoodies</option>
            <option value="value3">Jackets</option>
          </select>
        </div>

        <div class='catalogue_option_div' id='catalogue_option_color_div'>
          <select name="select" class='catalogue_bar_option' id='catalogue_bar_option_gender'>
            <option value="value1">Colors</option>
            <option value="value2">Red</option>
            <option value="value3">Yellow</option>
            <option value="value3">Blue</option>
          </select>
        </div>

        <div class='catalogue_option_div' id='catalogue_option_materials_div'>
          <select name="select" class='catalogue_bar_option' id='catalogue_bar_option_gender'>
            <option value="value1">Materials</option>
            <option value="value2">Polyester</option>
            <option value="value3">Home</option>
            <option value="value3">Scotch Tape</option>
          </select>
        </div>

        <div class='catalogue_option_div' id='catalogue_option_qualities_div'>
          <select name="select" class='catalogue_bar_option' id='catalogue_bar_option_gender'>
            <option value="value1">Qualities</option>
            <option value="value2">Stretchy</option>
            <option value="value3">Comfy</option>
            <option value="value3">Tight</option>
            <option value="value3">Athletic</option>
          </select>
        </div>

        <div class='catalogue_option_div' id='catalogue_option_vibes_div'>
          <select name="select" class='catalogue_bar_option' id='catalogue_bar_option_gender'>
            <option value="value1">Vibes</option>
            <option value="value2">Earthy</option>
            <option value="value3">Color Puddle</option>
            <option value="value3">Sacred Nomad</option>
          </select>
        </div>

      </div>
    </div>
    <div class='col-lg-9'>
      <div id='catalogue_content_window'>
        <div class='catalogue_slider_container'>
          <div class='feature_item item_div_container slider_item'>
            <%= image_tag "sew_much_love_sexy_girl_2.jpg", :class => 'item_picture' %>
            <p class='item_descriptor item_name'>Name Name Name</p>
            <p class='item_descriptor item_price'>CA $111.11</p>
          </div>
          <div class='feature_item item_div_container slider_item'>
            <%= image_tag "sew_much_love_sexy_girl_2.jpg", :class => 'item_picture' %>
            <p class='item_descriptor item_name'>Name Name Name</p>
            <p class='item_descriptor item_price'>CA $111.11</p>
          </div>
          <div class='feature_item item_div_container slider_item'>
            <%= image_tag "sew_much_love_sexy_girl_2.jpg", :class => 'item_picture' %>
            <p class='item_descriptor item_name'>Name Name Name</p>
            <p class='item_descriptor item_price'>CA $111.11</p>
          </div>
        </div>
        <div class='catalogue_slider_container'>
          <div class='feature_item item_div_container slider_item'>
            <%= image_tag "sew_much_love_sexy_girl_2.jpg", :class => 'item_picture' %>
            <p class='item_descriptor item_name'>Name Name Name</p>
            <p class='item_descriptor item_price'>CA $111.11</p>
          </div>
          <div class='feature_item item_div_container slider_item'>
            <%= image_tag "sew_much_love_sexy_girl_2.jpg", :class => 'item_picture' %>
            <p class='item_descriptor item_name'>Name Name Name</p>
            <p class='item_descriptor item_price'>CA $111.11</p>
          </div>
          <div class='feature_item item_div_container slider_item'>
            <%= image_tag "sew_much_love_sexy_girl_2.jpg", :class => 'item_picture' %>
            <p class='item_descriptor item_name'>Name Name Name</p>
            <p class='item_descriptor item_price'>CA $111.11</p>
          </div>
        </div>
        <div class='catalogue_slider_container'>
          <div class='feature_item item_div_container slider_item'>
            <%= image_tag "sew_much_love_sexy_girl_2.jpg", :class => 'item_picture' %>
            <p class='item_descriptor item_name'>Name Name Name</p>
            <p class='item_descriptor item_price'>CA $111.11</p>
          </div>
          <div class='feature_item item_div_container slider_item'>
            <%= image_tag "sew_much_love_sexy_girl_2.jpg", :class => 'item_picture' %>
            <p class='item_descriptor item_name'>Name Name Name</p>
            <p class='item_descriptor item_price'>CA $111.11</p>
          </div>
          <div class='feature_item item_div_container slider_item'>
            <%= image_tag "sew_much_love_sexy_girl_2.jpg", :class => 'item_picture' %>
            <p class='item_descriptor item_name'>Name Name Name</p>
            <p class='item_descriptor item_price'>CA $111.11</p>
          </div>
        </div>
        <div class='catalogue_slider_container'>
          <div class='feature_item item_div_container slider_item'>
            <%= image_tag "sew_much_love_sexy_girl_2.jpg", :class => 'item_picture' %>
            <p class='item_descriptor item_name'>Name Name Name</p>
            <p class='item_descriptor item_price'>CA $111.11</p>
          </div>
          <div class='feature_item item_div_container slider_item'>
            <%= image_tag "sew_much_love_sexy_girl_2.jpg", :class => 'item_picture' %>
            <p class='item_descriptor item_name'>Name Name Name</p>
            <p class='item_descriptor item_price'>CA $111.11</p>
          </div>
          <div class='feature_item item_div_container slider_item'>
            <%= image_tag "sew_much_love_sexy_girl_2.jpg", :class => 'item_picture' %>
            <p class='item_descriptor item_name'>Name Name Name</p>
            <p class='item_descriptor item_price'>CA $111.11</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
