<div class='page_title'>Treasure Chest</div>

<div class='container favorites_item_container end_div'>
  <div class='row'>
    <div class='col-lg-4'>
      <button class='btn btn-primary'>Likes</button>
      <button class='btn btn-danger'>Favs</button>
      <button class='btn btn-warning'>Stars</button>
    </div>
    <div class='col-lg-5'></div>
    <div class='col-lg-3'>

      <div class="dropdown treasure_chest_sort_by_dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort By...
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <ul>
            <li><a class="dropdown-item" href="#">Most Recent</a></li>
            <li><a class="dropdown-item" href="#">Oldest First</a></li>
            <li><a class="dropdown-item" href="#">Highest Rated</a></li>
          </ul>
        </div>
      </div>

    </div>

  </div>

  <div class='row'>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
  </div>
  <div class='row'>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
  </div>
  <div class='row'>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
  </div>
  <div class='row'>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
  </div>
  <div class='row'>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
  </div>
  <div class='row'>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
  </div>
  <div class='row'>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
  </div>
  <div class='row'>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
    <div class='col-lg-2 favorites_item'><%= image_tag "spiritnectar_1.jpg", :class => 'favorites_item_picture' %></div>
  </div>
</div>
