<div class='container item_profile end_div'>
  <div class='row'>
    <div class='col-md-1'></div>
    <div class='col-md-10 item__display_box'>

      <div class='item__picture_box'>
        <%= image_tag "lundesigns_holy_spirit.jpg", :class => 'item__main_picture' %>
        <div class='item__item_vision_statement'>Vision Statement</div>
        <div class='like-heart-star_btn_container'>
          <!-- could try putting them in a bootstrap container 8 and centering -->
          <div class='symbol_container like_btn_container'><%= image_tag "thumbs_up.svg", :class => 'collection_btn like_btn' %></div>
          <div class='symbol_container heart_btn_container'><%= image_tag "heart.svg", :class => 'collection_btn heart_btn' %></div>
          <div class='symbol_container star_btn_container'><%= image_tag "star.svg", :class => 'collection_btn star_btn' %></div>
        </div>
        <div class='comments_container'>
          <div class='comments_thread'>

            <div class="input-group new_comment_field">
              <input type="text" class="form-control new_comment_input" placeholder="Make a comment...">
              <span class="input-group-btn">
                <button class='btn btn-warning new_comment_add_tags_btn' type="button"><%= image_tag "tag_white.svg", :class => 'tag_it_btn' %></button>
                <button class="btn btn-secondary new_comment_submit" type="button">Comment!</button>
              </span>
            </div>

            <div class='made_comments_list'>
              <div class='item_comment'>
                <div class='comment_top_portion'>
                  <%= image_tag "facebook_profile.jpg", :class => 'comment_profile_pic' %>
                  <p class='comment_profile_name'>Taylor</p>
                  <p class='comment_date_time'>at 4:44pm on Dec 28, 2018</p>
                </div>
                <div class='comment_text'>So amazing :)</div>
                <p class='comment_tags'>#Vibrant #Colorful #Stimulating</p>
              </div>
              <div class='item_comment'>
                <div class='comment_top_portion'>
                  <%= image_tag "facebook_profile.jpg", :class => 'comment_profile_pic' %>
                  <p class='comment_profile_name'>Taylor</p>
                  <p class='comment_date_time'>at 4:44pm on Dec 28, 2018</p>
                </div>
                <div class='comment_text'>So amazing :)</div>
                <p class='comment_tags'>#Vibrant #Colorful #Stimulating</p>
              </div>
              <div class='item_comment'>
                <div class='comment_top_portion'>
                  <%= image_tag "facebook_profile.jpg", :class => 'comment_profile_pic' %>
                  <p class='comment_profile_name'>Taylor</p>
                  <p class='comment_date_time'>at 4:44pm on Dec 28, 2018</p>
                </div>
                <div class='comment_text'>So amazing :)</div>
                <p class='comment_tags'>#Vibrant #Colorful #Stimulating</p>
              </div>
              <div class='item_comment'>
                <div class='comment_top_portion'>
                  <%= image_tag "facebook_profile.jpg", :class => 'comment_profile_pic' %>
                  <p class='comment_profile_name'>Taylor</p>
                  <p class='comment_date_time'>at 4:44pm on Dec 28, 2018</p>
                </div>
                <div class='comment_text'>So amazing :)</div>
                <p class='comment_tags'>#Vibrant #Colorful #Stimulating</p>
              </div>
            </div>

          </div>

        </div>
      </div>

      <div class='item__details_box'>
        <div class='item__details_section item__purchase_details_box'>
          <h3 class='item__item_name_title'>Holy Spirit</h3>
          <span class='item__price item__sale_price'>$11.11+ CA</span>
          <span class='item__price item__listing_price'><strong>was $27.56+</strong></span>

          <div class='item__purchasing_item_details'>
            <p class='item__category_title item__main_category_title'>
              Visual Art | Dynamic Visionary, Color Puddle
            </p>
            <p class='item__item_description_bio'>
              This is an original piece of artwork digitally created by Louisa Firethorne. The name of this piece is 'KRIYADONNA', Queen of Heaven. The art print colors are absolutely stunning, bright and beautiful. Available in either 11" x 17" Art Prints or 24" x 36" standard poster size. The sale of this poster will benefit the Oakland fire victims.
              <br>
              THANK YOU FOR SUPPORTING A NORTHWEST ARTIST!
              More at www.lungraphics.com
            </p>
            <select name="select" class='item__dropdown item_purchasing_selections' id='item__variation_selection'>
              <option value="value1">Select a variation</option>
              <option value="value2"> Variation 1</option>
              <option value="value3">Variation 2</option>
              <option value="value3">Variation 3</option>
            </select>
            <select name="select" class='item__dropdown item_purchasing_selections' id='item__size_selection'>
              <option value="value1">Select a size</option>
              <option value="value2"> Art Print: 11 x 17 inches[CA $11.11]</option>
              <option value="value3">Poster Size: 24 x 36 inches [CA $55.55]</option>
            </select>
            <select name="select" class='item__dropdown item_purchasing_selections' id='item__quantity_selection'>
              <option value="value1">#</option>
              <option value="value2">1</option>
              <option value="value3">2</option>
              <option value="value3">3</option>
              <option value="value3">4</option>
              <option value="value3">5</option>
            </select>
          </div>
          <button class='btn item__add_to_cart_btn' id='add_to_cart_btn'>Add To Cart!</button>
        </div>


        <div class='item__details_section item__rundown_details_box'>
          <!-- <div class='item__rundown_details_box_top_tabs_container'>
            <div class='item__rundown_details_box_top_tabs tab_3_left'>Shipping</div>
            <div class='item__rundown_details_box_top_tabs tab_3_middle'>How it was made</div>
            <div class='item__rundown_details_box_top_tabs tab_3_right'>Vibe/Tagging</div>
          </div> -->
        </div>





      </div>

    </div>
    <div class='col-md-1'></div>
  </div>
</div>
