<div class='page_title'>Visual Art</div>

<div class='container feature_3_window' id='categories__feature_3_item_window'>
  <div class='row'>
    <div class='col-md-4 feature_3'>
      <%= link_to items_show_path do %>
        <%= image_tag "psy_healing.jpg", :class => 'feature_3_picture' %>
      <% end %>
    </div>
    <div class='col-md-4 feature_3'>
      <%= link_to items_show_path do %>
        <%= image_tag "lundesigns_moon_goddess.jpg", :class => 'feature_3_picture' %>
      <% end %>
    </div>
    <div class='col-md-4 feature_3'>
      <%= link_to items_show_path do %>
        <%= image_tag "SpiritBear.jpg", :class => 'feature_3_picture position_20_80' %>
      <% end %>
    </div>
  </div>
</div>

<div class='container feature_3_spaced_window'>
  <div class='row feature_3_spaced_row'>
    <div class='col-md-4 feature_3_spaced_container'>
      <%= image_tag "lun_designs_profile_pic.jpg", :class => 'feature_3_spaced_picture feature_3_spaced_picture--left' %>
    </div>
    <div class='col-md-4 feature_3_spaced_container'>
      <%= image_tag "mugwort_tiger.jpg", :class => 'feature_3_spaced_picture feature_3_spaced_picture--middle' %>
    </div>
    <div class='col-md-4 feature_3_spaced_container'>
      <%= image_tag "haiduk_selfie.jpg", :class => 'feature_3_spaced_picture feature_3_spaced_picture--right' %>
    </div>
  </div>
</div>

<div class='container feature_4_window'>
  <div class='feature_4_window_title'>Highest Rated</div>
  <div class='row'>
    <div class='col-md-3 feature_4'>
      <%= link_to items_show_path do %>
        <%= image_tag "Electric_Love.jpg", :class => 'feature_4_picture' %>
      <% end %>
    </div>
    <div class='col-md-3 feature_4'>
      <%= link_to items_show_path do %>
        <%= image_tag "SpiritWolf1.jpg", :class => 'feature_4_picture' %>
      <% end %>
    </div>
    <div class='col-md-3 feature_4'>
      <%= link_to items_show_path do %>
        <%= image_tag "dream-glade-metta-simon-haiduk.jpg", :class => 'feature_4_picture' %>
      <% end %>
    </div>
    <div class='col-md-3 feature_4'>
      <%= link_to items_show_path do %>
        <%= image_tag "totemical_2.jpg", :class => 'feature_4_picture' %>
      <% end %>
    </div>
  </div>
</div>

<div class='container feature_4_window'>
  <div class='feature_4_window_title'>Whats Hot</div>
  <div class='row'>
    <div class='col-md-3 feature_4'>
      <%= link_to items_show_path do %>
        <%= image_tag "autumn_sky_1.jpg", :class => 'feature_4_picture' %>
      <% end %>
    </div>
    <div class='col-md-3 feature_4'>
      <%= link_to items_show_path do %>
        <%= image_tag "lundesigns_holy_spirit.jpg", :class => 'feature_4_picture' %>
      <% end %>
    </div>
    <div class='col-md-3 feature_4'>
      <%= link_to items_show_path do %>
        <%= image_tag "jake_amason_genesis.jpg", :class => 'feature_4_picture' %>
      <% end %>
    </div>
    <div class='col-md-3 feature_4'>
      <%= link_to items_show_path do %>
        <%= image_tag "Elk_Lake_large.jpg", :class => 'feature_4_picture' %>
      <% end %>
    </div>
  </div>
</div>

<div class='container feature_4_window'>
  <div class='feature_4_window_title'>Freshly Added</div>
  <div class='row'>
    <div class='col-md-3 feature_4'>
      <%= link_to items_show_path do %>
        <%= image_tag "The-Luminous-Return.jpg", :class => 'feature_4_picture' %>
      <% end %>
    </div>
    <div class='col-md-3 feature_4'>
      <%= link_to items_show_path do %>
        <%= image_tag "phresha_1.jpg", :class => 'feature_4_picture' %>
      <% end %>
    </div>
    <div class='col-md-3 feature_4'>
      <%= link_to items_show_path do %>
        <%= image_tag "totemical_1.jpg", :class => 'feature_4_picture' %>
      <% end %>
    </div>
    <div class='col-md-3 feature_4'>
      <%= link_to items_show_path do %>
        <%= image_tag "lundesigns_subspace.jpg", :class => 'feature_4_picture' %>
      <% end %>
    </div>
  </div>
</div>

<div class='container browse_bar end_div'>
  <div class='row'>
    <div class='col-md-12'>
      <div id='browse_bar_header_bar'></div>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12 browse_bar_column_container'>
      <div class='browse_bar_column' id='browse_bar_column_1'>
        <div class='browse_bar_item'>
          <%= link_to items_show_path do %>
            <%= image_tag "prophecy-of-time-justin-totemical.jpg", :class => 'browse_bar_picture' %>
          <% end %>
          <p class='browse_bar_item_name'>Prophecy Of Time by Justin Totemical</p>
        </div>
        <div class='browse_bar_item'>
          <%= link_to items_show_path do %>
            <%= image_tag "prophecy-of-time-justin-totemical.jpg", :class => 'browse_bar_picture' %>
          <% end %>
          <p class='browse_bar_item_name'>Prophecy Of Time by Justin Totemical</p>
        </div>
        <div class='browse_bar_item'>
          <%= link_to items_show_path do %>
            <%= image_tag "prophecy-of-time-justin-totemical.jpg", :class => 'browse_bar_picture' %>
          <% end %>
          <p class='browse_bar_item_name'>Prophecy Of Time by Justin Totemical</p>
        </div>
        <div class='browse_bar_item'>
          <%= link_to items_show_path do %>
            <%= image_tag "prophecy-of-time-justin-totemical.jpg", :class => 'browse_bar_picture' %>
          <% end %>
          <p class='browse_bar_item_name'>Prophecy Of Time by Justin Totemical</p>
        </div>
        <div class='browse_bar_item'>
          <%= link_to items_show_path do %>
            <%= image_tag "prophecy-of-time-justin-totemical.jpg", :class => 'browse_bar_picture' %>
          <% end %>
          <p class='browse_bar_item_name'>Prophecy Of Time by Justin Totemical</p>
        </div>
        <div class='browse_bar_item'>
          <%= link_to items_show_path do %>
            <%= image_tag "prophecy-of-time-justin-totemical.jpg", :class => 'browse_bar_picture' %>
          <% end %>
          <p class='browse_bar_item_name'>Prophecy Of Time by Justin Totemical</p>
        </div>
      </div>
      <div class='browse_bar_column' id='browse_bar_column_2'>
        <div class='browse_bar_item'>
          <%= link_to items_show_path do %>
            <%= image_tag "prophecy-of-time-justin-totemical.jpg", :class => 'browse_bar_picture' %>
          <% end %>
          <p class='browse_bar_item_name'>Prophecy Of Time by Justin Totemical</p>
        </div>
        <div class='browse_bar_item'>
          <%= link_to items_show_path do %>
            <%= image_tag "prophecy-of-time-justin-totemical.jpg", :class => 'browse_bar_picture' %>
          <% end %>
          <p class='browse_bar_item_name'>Prophecy Of Time by Justin Totemical</p>
        </div>
        <div class='browse_bar_item'>
          <%= link_to items_show_path do %>
            <%= image_tag "prophecy-of-time-justin-totemical.jpg", :class => 'browse_bar_picture' %>
          <% end %>
          <p class='browse_bar_item_name'>Prophecy Of Time by Justin Totemical</p>
        </div>
        <div class='browse_bar_item'>
          <%= link_to items_show_path do %>
            <%= image_tag "prophecy-of-time-justin-totemical.jpg", :class => 'browse_bar_picture' %>
          <% end %>
          <p class='browse_bar_item_name'>Prophecy Of Time by Justin Totemical</p>
        </div>
        <div class='browse_bar_item'>
          <%= link_to items_show_path do %>
            <%= image_tag "prophecy-of-time-justin-totemical.jpg", :class => 'browse_bar_picture' %>
          <% end %>
          <p class='browse_bar_item_name'>Prophecy Of Time by Justin Totemical</p>
        </div>
        <div class='browse_bar_item'>
          <%= link_to items_show_path do %>
            <%= image_tag "prophecy-of-time-justin-totemical.jpg", :class => 'browse_bar_picture' %>
          <% end %>
          <p class='browse_bar_item_name'>Prophecy Of Time by Justin Totemical</p>
        </div>
      </div>
      <div class='browse_bar_column' id='browse_bar_column_3'>
        <div class='browse_bar_item'>
          <%= link_to items_show_path do %>
            <%= image_tag "prophecy-of-time-justin-totemical.jpg", :class => 'browse_bar_picture' %>
          <% end %>
          <p class='browse_bar_item_name'>Prophecy Of Time by Justin Totemical</p>
        </div>
        <div class='browse_bar_item'>
          <%= link_to items_show_path do %>
            <%= image_tag "prophecy-of-time-justin-totemical.jpg", :class => 'browse_bar_picture' %>
          <% end %>
          <p class='browse_bar_item_name'>Prophecy Of Time by Justin Totemical</p>
        </div>
        <div class='browse_bar_item'>
          <%= link_to items_show_path do %>
            <%= image_tag "prophecy-of-time-justin-totemical.jpg", :class => 'browse_bar_picture' %>
          <% end %>
          <p class='browse_bar_item_name'>Prophecy Of Time by Justin Totemical</p>
        </div>
        <div class='browse_bar_item'>
          <%= link_to items_show_path do %>
            <%= image_tag "prophecy-of-time-justin-totemical.jpg", :class => 'browse_bar_picture' %>
          <% end %>
          <p class='browse_bar_item_name'>Prophecy Of Time by Justin Totemical</p>
        </div>
        <div class='browse_bar_item'>
          <%= link_to items_show_path do %>
            <%= image_tag "prophecy-of-time-justin-totemical.jpg", :class => 'browse_bar_picture' %>
          <% end %>
          <p class='browse_bar_item_name'>Prophecy Of Time by Justin Totemical</p>
        </div>
        <div class='browse_bar_item'>
          <%= link_to items_show_path do %>
            <%= image_tag "prophecy-of-time-justin-totemical.jpg", :class => 'browse_bar_picture' %>
          <% end %>
          <p class='browse_bar_item_name'>Prophecy Of Time by Justin Totemical</p>
        </div>
      </div>
    </div>
  </div>
</div>





<div class='container'>
  <div class='row'>

  </div>
</div>











<!-- <div class='col-md-4 browse_bar_column'>

  <%= image_tag "The-Luminous-Return.jpg", :class => 'browse_bar_picture' %>
  <%= image_tag "The-Luminous-Return.jpg", :class => 'browse_bar_picture' %>
</div>
<div class='col-md-4 browse_bar_column'>
  <%= image_tag "The-Luminous-Return.jpg", :class => 'browse_bar_picture' %>
  <%= image_tag "The-Luminous-Return.jpg", :class => 'browse_bar_picture' %>
  <%= image_tag "The-Luminous-Return.jpg", :class => 'browse_bar_picture' %>
</div>
<div class='col-md-4 browse_bar_column'>
  <%= image_tag "The-Luminous-Return.jpg", :class => 'browse_bar_picture' %>
  <%= image_tag "The-Luminous-Return.jpg", :class => 'browse_bar_picture' %>
  <%= image_tag "The-Luminous-Return.jpg", :class => 'browse_bar_picture' %>
</div> -->
